@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400; /* 'regular' is replaced with 400 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500; /* 'medium' is replaced with 500 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500; /* 'medium' is replaced with 500 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400; /* 'regular' is replaced with 400 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 800; /* 'extrabold' is replaced with 800 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 800; /* 'extrabold' is replaced with 800 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700; /* 'bold' is replaced with 700 */
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700; /* 'bold' is replaced with 700 */
}

body {
    background-color: ivory;
    margin: 0px;
    padding: 0px;
}

@layer components {
    .project-title {
      @apply text-2xl md:text-3xl font-bold;
    }
  }